body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#image-container {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#uploaded-image {
    max-width: 100%;
    max-height: 100%;
}

#webcam-container {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

#label-container {
    margin-top: 20px;
    font-size: 1.2em;
}

.result-bar-container {
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.result-bar {
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: left;
    padding-left: 10px;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.dog-bar {
    background-color: #42a5f5; /* Blue for dog */
}

.cat-bar {
    background-color: #ef5350; /* Red for cat */
}
